Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-emplace,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-using,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-inc-dec-in-conditions,
  -bugprone-switch-missing-default-case

WarningsAsErrors: ''
HeaderFilterRegex: 'chain/(include|tests|tools)/.*'
FormatStyle: none
